<%- model_class = Device -%>

<script lang="javascript">
var map;
var marker;
var cur_latlng = null;
var follow_disabled = false;
var geocoder;

function update_position()
{
	$.getJSON("/devices/<%= @device.id %>/trackpoints.json?limit=1", function(data) {
		pos = data[0];
                var latng;
		latlng = new google.maps.LatLng(pos.latitude, pos.longitude);
		if(!follow_disabled)
			map.setCenter(latlng);
		marker.setPosition(latlng);
		cur_latlng = latlng;
		geocoder.geocode({'latLng': cur_latlng}, geocode_response);
		$('#cur_speed').html("Speed: " + pos.velocity + " km/h");
		setTimeout('update_position()', 7000);
	});
}

function geocode_response(results, status)
{
	if (status == google.maps.GeocoderStatus.OK && results[0])
		$('#cur_address').html("Location: " + results[0].formatted_address.split(",", 1));
}

function disable_follow()
{
	$("#follow_link").show();
	follow_disabled = true;
}

function enable_follow()
{
	$("#follow_link").hide();
	follow_disabled = false;
	map.setCenter(cur_latlng);
}

function initialize() 
{
	var pos = new google.maps.LatLng(-35.001624, -71.230127);
	var mapOptions = {
		zoom: 16,
		center: pos,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	map = new google.maps.Map(document.getElementById('map'), mapOptions);
	marker = new google.maps.Marker({
		position: pos,
		map: map,
		title: '<%= @device.name %>',
		icon: '/bus.png'
	});
	google.maps.event.addListener(map, 'dragend', function() {
		disable_follow();
	});
	enable_follow();

	geocoder = new google.maps.Geocoder();
}

$(document).ready(function() {
	initialize();
	update_position();
});

</script>

<div style="position: absolute; left: 0; top: 50px; width: 100%; height: 75%;">
  <div id="map" style="width: 100%; height: 100%"></div>
</div>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @device.name %></dd>
  <% if current_user and current_user.account_type == "admin" %>
  <dt><strong><%= model_class.human_attribute_name(:identifier) %>:</strong></dt>
  <dd><%= @device.identifier %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vehicle_plate) %>:</strong></dt>
  <dd><%= @device.vehicle_plate %></dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:connections) %>:</strong></dt>
  <dd><%= @device.connections %></dd>
</dl>

<div class="form-actions">
  <% if current_user and current_user.account_type == "admin" %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_device_path(@device), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              device_path(@device),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>

<div class="navbar-xs navbar-inverse navbar-fixed-bottom">
   <div class="container-fluid">
   <button type="button" class="btn-sm navbar-toggle" data-toggle="collapse" data-target="#vehicle_info">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
   </button>
   <div class="navbar-right" style="float: right;">
       <ul class="nav navbar-nav">
        <li id="follow_link"><a href="#" onclick="enable_follow(); return false;">Follow the vehicle</a></li>
       </ul>
   </div>
   <div id="vehicle_info" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
		<li id="cur_address" style="float: left; width: 200px; color: white;"></li>
		<li id="cur_speed" style="float: left; width: 100px; color: white;"></li>
	</ul>
   </div>
   </div>
</div>
