<h1>New trackpoint</h1>

<form id="new-trackpoint" name="trackpoint">
  <div class="field">
    <label for="device_id"> device_id:</label>
    <input type="text" name="device_id" id="device_id" value="<%= device_id %>" >
  </div>

  <div class="field">
    <label for="latitude"> latitude:</label>
    <input type="text" name="latitude" id="latitude" value="<%= latitude %>" >
  </div>

  <div class="field">
    <label for="longitude"> longitude:</label>
    <input type="text" name="longitude" id="longitude" value="<%= longitude %>" >
  </div>

  <div class="field">
    <label for="elevation"> elevation:</label>
    <input type="text" name="elevation" id="elevation" value="<%= elevation %>" >
  </div>

  <div class="field">
    <label for="time"> time:</label>
    <input type="text" name="time" id="time" value="<%= time %>" >
  </div>

  <div class="field">
    <label for="velocity"> velocity:</label>
    <input type="text" name="velocity" id="velocity" value="<%= velocity %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Trackpoint" />
  </div>

</form>

<a href="#/index">Back</a>