<p>
  <b>Device:</b>
  <%= device_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= longitude %>
</p>

<p>
  <b>Elevation:</b>
  <%= elevation %>
</p>

<p>
  <b>Time:</b>
  <%= time %>
</p>

<p>
  <b>Velocity:</b>
  <%= velocity %>
</p>


<a href="#/index">Back</a>