<td><%= device_id %></td>
<td><%= latitude %></td>
<td><%= longitude %></td>
<td><%= elevation %></td>
<td><%= time %></td>
<td><%= velocity %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>