<%= form_for @pending_command, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :command, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :command, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :device_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :device_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sent, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :sent, :class => 'check_box' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pending_commands_path, :class => 'btn' %>
  </div>
<% end %>
