<h1>Listing trackpoints</h1>

<table>
  <thead>
    <tr>
      <th>Device</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Elevation</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trackpoints.each do |trackpoint| %>
      <tr>
        <td><%= trackpoint.device_id %></td>
        <td><%= trackpoint.latitude %></td>
        <td><%= trackpoint.longitude %></td>
        <td><%= trackpoint.elevation %></td>
        <td><%= trackpoint.time %></td>
        <td><%= link_to 'Show', trackpoint %></td>
        <td><%= link_to 'Edit', edit_trackpoint_path(trackpoint) %></td>
        <td><%= link_to 'Destroy', trackpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trackpoint', new_trackpoint_path %>
