<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bus_stop.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @bus_stop.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @bus_stop.longitude %>
</p>

<%= link_to 'Edit', edit_bus_stop_path(@bus_stop) %> |
<%= link_to 'Back', bus_stops_path %>
